*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    color: #000;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, #003100,#005500, #00a108, #00a108);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    border-radius: 20px;
    width: 90vw;
    height: 95vh;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;

    .header-content {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo {

            img {
                border-radius: 20px 0 0 20px;
                width: 100px;
                height: 100px;
            }
        }

        .user {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            img {
                width: 100px;
                height: 100px;
            }

        }
        
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

.info1 {
    width: 80%;
    box-shadow: 2px 2px 18px 2px #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: all .3s ease-in-out;

    &:hover,
    &:focus{
        transform: scale(.98);
    }

    .col-12 {   
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;


        .description {
            display: flex;
            justify-content: center;
            align-items: center;

            table {
                border-collapse: collapse;

                tr {
                    td {
                        padding: 10px;
                    }
                }
            }

        }

        .graph {
            

            img {
                width: 100%;
                height: 6rem;
            }
        }
    }
    
}