.dashboardGeralContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F5F5F5;
    gap: 1rem;

    .dashboardGeralHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: .5rem;

        .dashboardGeralHeaderButtons {
            position: absolute;
            right: 1rem;
            padding: .5rem;
            transition: all .2s linear;
            border-radius: 1rem;
            cursor: pointer;
            
            &:hover,
            &:focus {
                background-color: #ccc;
                padding: .5rem;
            }
        }
    }
}

.dashboardGeralContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    gap: 1rem;



    .painelNumeros {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        gap: 1rem;

        .totais,
        .derivados {
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: 0 0 20px 1px #00000023;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;

            div {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: .5rem;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.144));
                box-shadow: 0 0 20px 1px #00000023;
                border-radius: 1rem 0 1rem 0;

                span {
                    width: 100%;
                    padding: .5rem;
                    border-top: .5px dashed #000;
                    transition: all .5s linear;

                    &:last-child {
                        border-bottom: .5px dashed #000;
                    }

                    &:focus,
                    &:hover {
                        background-color: #ccc;
                    }
                }
            }

        }
    }
}

.chartsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    .veiculosCharts,
    .motoristasCharts,
    .manutencoesCharts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        width: 100%;
        gap: 1rem;
    }
}