.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 2rem;
  background-image: linear-gradient(37deg, #0b2e00, #00420e, #005212, #01861e, #01a121 100%);
}

@media(max-width:500px) {
  .main {
    padding: 5rem;
  }
}

@media (max-width:400px) {
  .main {
    padding: 4rem;
  }
}